<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div id="app1">
	<quotation></quotation>
</div>

<template id="tem1">
    <!--图表内容区域，必须给 ECharts 容器本身指定高度。不然它会使用默认高度-->
    <div class = "chart">
      <div id = "echarts" style = "height: 17.5rem"></div>
    </div>
</template>
<script src="/static/vue.js"></script>
<script src="/static/echarts.min.js"></script>
<script type="text/javascript">
	var app1=new Vue({
		el:'#app1',
		data:{},
		components:{
			quotation:{
				data : function(){
      	return {
        chart: null,
      }
    },
    template:'#tem1',
    mounted :function(){
      //初始化 ECharts 实例，不能在created生命周期内初始化，因为那时候DOM还没有渲染，是找不到元素的
      this.initChart()
    },
    beforeDestroy : function(){
      //组件销毁前先销毁 ECharts 实例
      if (!this.chart) { return }
      this.chart.dispose()
      this.chart = null
    },
    methods: {
      initChart () {
        // 基于准备好的dom，初始化echarts实例,移动端建议使用 svg模式
        this.chart = echarts.init(document.getElementById('echarts'), 'light', {renderer: 'svg'})
        this.chart.setOption(chartUtil.lineOption())

        //图标根据窗口大小自动缩放
        // window.addEventListener("resize", this.chart.resize);
      },
    },
			},
		}
	})

</script>
</body>
</html>